<nav>
<h1>cineland ✅</h>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href=" {{path('cineland_accueil')}} ">Accueil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{{path('action1')}}">Genres</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{{path('action3')}}">Acteurs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{{path('action8')}}">Films</a>
  </li>
</ul>
</nav>