{% extends 'cineland.html.twig' %}
{% block title %}Rechercher des films via une partie de titre{% endblock %} 
 
{% block body %} 
    <div class="d-flex justify-content-center">
    <form action="", method="post">
        <p>Titre :<input type="text", name="titre"></p>
        <button type="submit">Rechercher</button>
    </form> 
    </div>
{% endblock %}