{% extends 'cineland.html.twig' %}
{% block title %}lister les films dont la date de sortie est comprise entre deux années données{% endblock %} 
 
{% block body %}
<div class="d-flex justify-content-center"> 
    <form action="", method="post">
    	<input type="date", name="date1">
    	<input type="date", name="date2">
    	<button type="submit">Rechercher</button>
    </form>
    </div> 
{% endblock %}