{% extends 'cineland.html.twig' %}
{% block title %}liste de tous les films dans lesquels 2 acteurs donnés ont joué ensemble{% endblock %} 
 
{% block body %} 
	<div class="d-flex justify-content-center">
    <form action="", method="post">
    	<p>Ateur 1 :<input type="text", name="acteur1"></p>
    	<p>Acteur 2 :<input type="text", name="acteur2"></p>
    	
    	
    	<button type="submit">Rechercher</button>
    </form> 
    </div>
{% endblock %}