{% extends 'cineland.html.twig' %}
{% block title %}Augmenter ou diminuer la note d’un film{% endblock %} 
 
{% block body %} 
    <div class="d-flex justify-content-center">
    <form action="", method="post">
        <p>Titre :<input type="text", name="titre"></p>
        <p>Augmenter :<input type="button" value="+"></p>
        <p>Diminuer :<input type="button" value="-"></p>
 
    </form> 
    </div>
{% endblock %}