{% extends 'cineland.html.twig' %}
{% block title %}liste des acteurs ayant joué dans un film donné{% endblock %} 
 
{% block body %} 
	<p><br></p>
	<p><br></p>
	<p><br></p>
	<p><br></p>
	<p><br></p>
	<div class="d-flex justify-content-center">
	<h3>les acteurs ayant joué dans un film :</h3>
    <form action="", method="post">
    	<input type="text", name="titre">
    	<button type="submit">Rechercher</button>
    </form> 
    </div>
{% endblock %}