{% extends 'cineland.html.twig' %}
{% block title %}Augmenter l’âge minimal de tous les films dans lesquels à jouer un acteur donné{% endblock %} 
 
{% block body %} 
	<div class="d-flex justify-content-center">
    <form action="", method="post">
    	<p>nom :<input type="text", name="nom"></p>
    	<p>Augmenter de :<input type="", name="aug"></p>
    	<button type="submit">Augmenter</button>
    </form> 
    </div>
{% endblock %}