{% extends 'cineland.html.twig' %}
{% block title %} Supprimer un acteur {% endblock %} 
 
{% block body %} 
    <div class="d-flex justify-content-center" > 
    {{ form(my_form) }} 
    </div> 
{% endblock %}