{% extends 'cineland.html.twig' %}
{% block title %}Modifier un acteur{% endblock %} 
 {% block body %} 
    <div class="d-flex justify-content-center" > 
    {{ form(my_form) }} 
    </div>
    
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p style="text-align: center;"><mark>Nb: par defaut c'est l'id 1 <br>Changer l'id dans le route si vous voulez modifier un autre acteur.</mark> </p>


{% endblock %}