{% extends 'cineLand.html.twig' %}
{% block title %}lister les genres pour lesquels un acteur donné a joué au moins 2 films{% endblock %} 
 
{% block body %} 
	<p>Entrez le nom et prenom de L'acteur :</p>
    <form action="", method="post">
    	<input type="text", name="acteur">
    	<button type="submit">Rechercher</button>
    </form> 
{% endblock %}