{% extends 'cineland.html.twig' %}
{% block title %}la durée en minutes de tous les films joués par un acteur donné{% endblock %} 
 
{% block body %} 
    <form action="", method="post">
    	<p>Nom Prenom de L'acteur :<input type="text", name="acteur"></p>
    	<button type="submit">Rechercher</button>
    </form> 
{% endblock %}