{% extends 'cineland.html.twig' %}
{% block title %}la durée total est :{% endblock %} 
 
{% block body %}
	<div class="d-flex justify-content-center"></div>
	<p>la durée total est :</p> 
  <h3> {{ duree }} m </h3>
  </div>
     
{% endblock %}